force-app/main/default/flows/Flows/Canada_Return_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_RO_Line_Item_to_collection</name>
        <label>Assign RO Line Item to collection</label>
        <locationX>615</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Return_Order_Line_Item_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Return_Order_Line_Item_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quantity_Received</name>
        <label>Update Quantity Received</label>
        <locationX>615</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Return_Order_Line_Item_Loop.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Item_Loop.QuantityExpected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RO_Line_Item_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Order Management: It is Return Order record triggered flow and the entry condition for the flow is, Return Order&apos;s SalesChannel should be viviscal-ca and Status should be submitted</description>
    <environments>Default</environments>
    <interviewLabel>Canada Return Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Canada Return Items</label>
    <loops>
        <name>Return_Order_Line_Item_Loop</name>
        <label>Return Order Line Item Loop</label>
        <locationX>527</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Quantity_Received</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Return_Order_line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Return_Order_Line_Items</name>
        <label>Get Return Order Line Items</label>
        <locationX>527</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Item_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityExpected</queriedFields>
        <queriedFields>QuantityReceived</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Order</name>
        <label>Update Return Order</label>
        <locationX>527</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Refund_Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Return_Order_line_Item</name>
        <label>Update Return Order line Item</label>
        <locationX>527</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Update_Return_Order</targetReference>
        </connector>
        <inputReference>Return_Order_Line_Item_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Return_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>viviscal-ca</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Return_Order_Line_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Return_Order_Line_Item_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
</Flow>
