force-app/main/default/flows/Flows/Capture_Upon_Order_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ensure_Captures</name>
        <label>Ensure Captures</label>
        <locationX>1050</locationX>
        <locationY>187</locationY>
        <actionName>EnsureCapturesAsync</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureCapturesInput</name>
            <value>
                <elementReference>EnsureCapturesAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Ensure_Captures_Input_Representation</name>
        <label>Set Ensure Captures Input Representation</label>
        <locationX>917</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>EnsureCapturesAsyncInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.GrandTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnsureCapturesAsyncInputRepresentation.onSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sStatus=Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Captures</targetReference>
        </connector>
    </assignments>
    <description>Order Management: Capture Upon Order Acceptance</description>
    <environments>Default</environments>
    <interviewLabel>Capture Upon Order Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Upon Order Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>776</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Ensure_Captures_Input_Representation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnsureCapturesAsyncInputRepresentation</name>
        <apexClass>EnsureCapturesAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
