force-app/main/default/flows/Flows/Create_Fulfillment_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Invoice_Payments</name>
        <label>Apply Invoice Payments</label>
        <locationX>1240</locationX>
        <locationY>333</locationY>
        <actionName>ApplyInvoicePaymentsAsync</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fulfillment_Order_Id_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applyInvoicePaymentsInput</name>
            <value>
                <elementReference>ApplyInvoicePaymentsAsyncInputRepre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Since we are only passing one fulfillment group, this action only creates one fulfillment order.</description>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>840</locationX>
        <locationY>284</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Assign_Fulfillment_Order_Ids_to_list</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>InputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderOutputToStore</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>1234</locationX>
        <locationY>203</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Set_Apply_Invoice_Payments_Input_Repre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>Fulfillment_Order_Id_Loop</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_input_representation_to_list</name>
        <label>Add Input Representation to List</label>
        <locationX>578</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Id_To_List</name>
        <label>Assign Fulfillment Order Id To List</label>
        <locationX>1074</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Fulfillment_Order_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Existing_Fulfillment_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Id_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Ids_to_list</name>
        <label>Assign Fulfillment Order Ids to list</label>
        <locationX>935</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Fulfillment_Order_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderOutputToStore.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Id_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_InputRepresentation_and_temp_collections</name>
        <label>Reset Input Variables</label>
        <locationX>579</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Apply_Invoice_Payments_Input_Repre</name>
        <label>Set Apply Invoice Payments Input Repre</label>
        <locationX>1377</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>ApplyInvoicePaymentsAsyncInputRepre.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_Invoice_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Group</name>
        <label>Set Fulfillment Group</label>
        <locationX>838</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_input_representation_and_add_fulfillment_group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_input_representation_and_add_fulfillment_group</name>
        <label>Set Input Representation and Add Fulfillment Group</label>
        <locationX>839</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>415</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_input_representation_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if get order summary has records with managed lifecycle</description>
        <name>Check_if_get_order_summary_has_records_with_managed_lifecycle</name>
        <label>Check if get order summary has records with managed lifecycle</label>
        <locationX>202</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_order_summary_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Fulfillment_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Fulfillment_Order_Exist</name>
        <label>Does Fulfillment Order Exist?</label>
        <locationX>307</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Does_Invoice_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Fulfillment_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Warehouse_Location</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Invoice_Created</name>
        <label>Does Invoice Created?</label>
        <locationX>307</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>Is_Order_Summary_In_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Fulfillment_Order.InvoiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fulfillment_Order_Id_To_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Summary_In_Approved</name>
        <label>Is Order Summary In Approved?</label>
        <locationX>307</locationX>
        <locationY>1088</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OS_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_order_summary_records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Summary_Status_To_Waiting_to_Fulfill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management: Create Fulfillment Orders for One Location</description>
    <environments>Default</environments>
    <formulas>
        <name>Five_Minutes_After</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (5/1440)</expression>
    </formulas>
    <interviewLabel>Create Fulfillment Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fulfillment Orders for One Location</label>
    <loops>
        <name>Fulfillment_Order_Id_Loop</name>
        <label>Fulfillment Order Id Loop</label>
        <locationX>1074</locationX>
        <locationY>198</locationY>
        <collectionReference>Fulfillment_Order_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>575</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_InputRepresentation_and_temp_collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Order_Summary_In_Approved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>579</locationX>
        <locationY>586</locationY>
        <assignNextValueToReference>OrderProductSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Item_Summary_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Fulfillment_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Warehouse_Location</name>
        <label>A Warehouse Location</label>
        <locationX>413</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>WarehouseLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Fulfillment_Order</name>
        <label>Get Existing Fulfillment Order</label>
        <locationX>213</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Fulfillment_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvoiceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>413</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_order_summary_records.Id</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputReference>OrderDeliveryGroupSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalOrderDeliveryGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>580</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Product_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputReference>OrderSummaryItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OrderDeliveryGroupSummaryId</queriedFields>
        <queriedFields>OriginalOrderItemId</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_order_summary_records</name>
        <label>Get order summary records</label>
        <locationX>212</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_get_order_summary_has_records_with_managed_lifecycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderLifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Order_Summary_Status_To_Waiting_to_Fulfill</name>
        <label>Set Order Summary Status To Waiting to Fulfill</label>
        <locationX>481</locationX>
        <locationY>1093</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting to Fulfill</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>86</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_order_summary_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplyInvoicePaymentsAsyncInputRepre</name>
        <apexClass>ApplyInvoicePaymentsAsyncInputRepre</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fulfillment_Order_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderOutputToStore</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>WarehouseLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
</Flow>
