force-app/main/default/flows/Flows/Create_and_Apply_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Invoice_Payments</name>
        <label>Apply Invoice Payments</label>
        <locationX>562</locationX>
        <locationY>258</locationY>
        <actionName>ApplyInvoicePaymentsAsync</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applyInvoicePaymentsInput</name>
            <value>
                <elementReference>ApplyInvoicePaymentsAsyncInputRepre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>303</locationX>
        <locationY>258</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Set_Apply_Invoice_Payments_Input_Repre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Apply_Invoice_Payments_Input_Repre</name>
        <label>Set Apply Invoice Payments Input Repre</label>
        <locationX>430</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>ApplyInvoicePaymentsAsyncInputRepre.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_Invoice_Payments</targetReference>
        </connector>
    </assignments>
    <description>Order Management: Create and Apply Invoice after creating Fulfillment Order</description>
    <environments>Default</environments>
    <interviewLabel>Create Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create and Apply Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Specified Fulfillment Order</label>
        <locationX>176</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <outputReference>FulfillmentOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilledToName</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApplyInvoicePaymentsAsyncInputRepre</name>
        <apexClass>ApplyInvoicePaymentsAsyncInputRepre</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
