force-app/main/default/flows/Flows/Discount_Flow_A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Adjust_Order_Item_Summaries_Submit</name>
        <label>Adjust Order Item Summaries Submit</label>
        <locationX>1754</locationX>
        <locationY>584</locationY>
        <actionName>adjustOrderItemSummariesSubmit</actionName>
        <actionType>adjustOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Has_Post_Fulfillment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference>adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>adjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Memo_Action</name>
        <label>Create Credit Memo</label>
        <locationX>1700</locationX>
        <locationY>981</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>setCreditMemoId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Discount_Order_Item_Summaries_Preview</name>
        <label>Discount Order Item Summaries Preview</label>
        <locationX>1502</locationX>
        <locationY>565</locationY>
        <actionName>adjustOrderItemSummariesPreview</actionName>
        <actionType>adjustOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference>adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>adjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Refunds_Async</name>
        <label>Ensure Refund</label>
        <locationX>2314</locationX>
        <locationY>1130</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Set_Stage_to_Part_4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Discountable_Items</name>
        <label>Add To Discountable Items</label>
        <locationX>720</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>discountableItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>potentiallyDiscountableItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Before_Payment_Capture_Error_Message</name>
        <label>Assign Before Payment Capture Error Message</label>
        <locationX>178</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Discount_Before_Payment_Capture_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Discount_Before_Payment_Capture_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unmanaged_Error_Messages</name>
        <label>Assign Unmanaged Error Messages</label>
        <locationX>50</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Memo_Assignment</name>
        <label>Credit Memo Assignment</label>
        <locationX>1818</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Memo_Assignment_0</name>
        <label>Credit Memo Assignment</label>
        <locationX>1964</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.preFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.preFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Memo_Assignment_0_0</name>
        <label>Credit Memo Assignment</label>
        <locationX>2078</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.inFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.inFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Assignment</name>
        <label>Discount Item Assignment</label>
        <locationX>1064</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>discountItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Input_Representation_Assignment</name>
        <label>Discount Item Input Representation Assignment</label>
        <locationX>1267</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.discountValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.adjustmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.discountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountItem.description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Order_Item_Input_Representation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_List_Assignment</name>
        <label>Discount Item List Assignment</label>
        <locationX>1204</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>discountItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>discountItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Order_Item_Input_Representation_Assignment</name>
        <label>Discount Order Item Input Representation Assignment</label>
        <locationX>1400</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>adjustOrderItemSummaryInputRepresentation.adjustItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1350</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>936</locationX>
        <locationY>1025</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocated_Items_Change_Order_Type</name>
        <label>Set Allocated Items Change Order Type</label>
        <locationX>1464</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>adjustOrderItemSummaryInputRepresentation.allocatedItemsChangeOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allocatedItemsChangeOrderType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_With_Tax</name>
        <label>Set Discount Amount Type With Tax</label>
        <locationX>578</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_Without_Tax</name>
        <label>Set Discount Amount Type Without Tax</label>
        <locationX>585</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithoutTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>937</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>1063</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1646</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>preview_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Part_4</name>
        <label>Set Stage to Part 4</label>
        <locationX>2392</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Not_Viviscal_CA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>293</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCreditMemoId</name>
        <label>setCreditMemoId</label>
        <locationX>2235</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.excessFundsAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.changeBalances.totalExcessFundsAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refunds_Async</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToDiscount_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Discount</name>
        <label>Are Any Items To Discount</label>
        <locationX>930</locationX>
        <locationY>631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Discount_Amount_Type</name>
        <label>Determine Discount Amount Type</label>
        <locationX>572</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Set_Discount_Amount_Type_Without_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_OrderSummary_VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.TaxLocaleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Amount_Type_With_Tax</targetReference>
            </connector>
            <label>Is OrderSummary VAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Unmanaged_Order</name>
        <label>Determine Unmanaged Order</label>
        <locationX>105</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Is_Discount_Before_Payment_Capture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unmanaged_Error_Messages</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Excess_Funds_Action</name>
        <label>Has Excess Funds Action</label>
        <locationX>2311</locationX>
        <locationY>646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Excess_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.changeBalances.totalExcessFundsAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCreditMemoId</targetReference>
            </connector>
            <label>Has Excess Funds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Post_Fulfillment</name>
        <label>Has Post Fulfillment</label>
        <locationX>1931</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>Has_Excess_Funds_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Post_Fulfillment_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Memo_Assignment</targetReference>
            </connector>
            <label>Has Post Fulfillment</label>
        </rules>
        <rules>
            <name>Has_Pre_FulfillmentChangeOrderId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.preFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Memo_Assignment_0</targetReference>
            </connector>
            <label>Has Pre FulfillmentChangeOrderId</label>
        </rules>
        <rules>
            <name>Has_In_FulfillmentChangeOrderId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.inFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Memo_Assignment_0_0</targetReference>
            </connector>
            <label>Has In FulfillmentChangeOrderId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Discount_Before_Payment_Capture</name>
        <label>Is Discount Before Payment Capture?</label>
        <locationX>232</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remorse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Capture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Before_Payment_Capture_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Discountable</name>
        <label>Is Item Discountable</label>
        <locationX>857</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_is_Discountable</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.QuantityReturnInitiated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>potentiallyDiscountableItem.QuantityReturned</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.TotalAmtWithTax</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allocatedItemsChangeOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreFulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allocatedItemsChangeOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InFulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.QuantityAllocated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>potentiallyDiscountableItem.QuantityFulfilled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Discountable_Items</targetReference>
            </connector>
            <label>Item is Discountable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Viviscal_CA</name>
        <label>Is Not Viviscal CA?</label>
        <locationX>2384</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Summary_After_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Not_Viviscal_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.SalesChannel.SalesChannelName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>viviscal-ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loyalty_Transaction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>419</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <description>Order Management: Discount an Item</description>
    <environments>Default</environments>
    <formulas>
        <name>IsCancelledRefund</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISPICKVAL({!Get_Order_Summary_Object.Status}, &quot;Fulfilled&quot;)), {!Get_Order_Summary_After_Discount.GrandTotalAmount}=0)</expression>
    </formulas>
    <interviewLabel>Discount Flow A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discount an Item</label>
    <loops>
        <name>Discount_Item_Assignment_Loop</name>
        <label>Discount Item Assignment Loop</label>
        <locationX>1129</locationX>
        <locationY>679</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Value_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Discount_Item_Representation_Loop</name>
        <label>Discount Item Representation Loop</label>
        <locationX>1258</locationX>
        <locationY>504</locationY>
        <assignNextValueToReference>discountItem</assignNextValueToReference>
        <collectionReference>discountItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Discount_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_For_Discountable_Items</name>
        <label>Filter For Discountable Items</label>
        <locationX>688</locationX>
        <locationY>499</locationY>
        <assignNextValueToReference>potentiallyDiscountableItem</assignNextValueToReference>
        <collectionReference>Get_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Item_Discountable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Any_Items_To_Discount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Custom_Refund</name>
        <label>Create Custom Refund</label>
        <locationX>2144</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>finished</targetReference>
        </connector>
        <inputAssignments>
            <field>IsCancelledRefund__c</field>
            <value>
                <elementReference>IsCancelledRefund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_ChangeOrder__c</field>
            <value>
                <elementReference>ChangeOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Order_Payment_Summary__c</field>
            <value>
                <elementReference>Get_Order_Payment_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loyalty_Transaction</name>
        <label>Create Loyalty Transaction</label>
        <locationX>2390</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Get_Order_Summary_After_Discount</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.changeBalances.totalRefundableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummary__c</field>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyTransaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>475</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount_Amount_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>424</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary_After_Discount</name>
        <label>Get Order Summary After Discount</label>
        <locationX>2271</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Custom_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>GrandTotalAmount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary</label>
        <locationX>252</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Unmanaged_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>189</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Discount_Warning</name>
        <label>Warning</label>
        <locationX>252</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
        <fields>
            <name>Discount_Warning_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(240, 4, 4);&quot;&gt;Please keep in mind to issue refunds at least 24 Hrs after the payment is captured to avoid refund failures from the bank.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>237</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finished</name>
        <label>Finished</label>
        <locationX>2046</locationX>
        <locationY>272</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&apos;re all set! The discount succeeded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>preview_screen</name>
        <label>Preview Screen</label>
        <locationX>1722</locationX>
        <locationY>299</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adjust_Order_Item_Summaries_Submit</targetReference>
        </connector>
        <fields>
            <name>finishedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Preview Discount&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reviewOrderChange</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewAdjustOutput</name>
                <value>
                    <elementReference>adjustOrderSummaryOutputRepresentation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>943</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select from these available items to discount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>discountableItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>discountableItems</assignToReference>
                <name>OrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Value_Selection</name>
        <label>Value Selection</label>
        <locationX>1225</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Allocated_Items_Change_Order_Type</targetReference>
        </connector>
        <fields>
            <name>DiscountSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select the discount type, value, and reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountAmountType</name>
                <value>
                    <elementReference>discountAmountType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>discountItems</assignToReference>
                <name>discountItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_adj__Discount_Item</sourceTemplate>
    <stages>
        <name>Part_1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>true</isActive>
        <label>Select Amounts and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>126</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Discount_Warning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can discount, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Discount</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d discount items from an order. To discount an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>adjustItemInputRepresentation</name>
        <apexClass>ConnectApi__AdjustItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__AdjustOrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__AdjustOrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allocatedItemsChangeOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>InFulfillment</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChangeOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountableItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <description>used to set the discount amount type based on whether the order is VAT</description>
        <name>discountAmountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AmountWithTax</stringValue>
        </value>
    </variables>
    <variables>
        <name>discountItem</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountItems</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Output_Discount_Before_Payment_Capture_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>You can only run this flow after the payment capture.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_Output_Discount_Before_Payment_Capture_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Discount Error!</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>potentiallyDiscountableItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1Osxx0000004Qoi</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
