force-app/main/default/flows/Flows/RMA_Create_Credit_Memo_and_Ensure_Refunds_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Credit_Memo</name>
        <label>Create Credit Memo</label>
        <locationX>1344</locationX>
        <locationY>858</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Ensure_Refund_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Credit_Memo_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creareCreditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>createCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Refund</name>
        <label>Ensure Refund</label>
        <locationX>1346</locationX>
        <locationY>1283</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ensure_Refund_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Return_Return_Order_Items</name>
        <label>Return Return Order Items</label>
        <locationX>1344</locationX>
        <locationY>412</locationY>
        <actionName>returnReturnOrderItems</actionName>
        <actionType>returnReturnOrderItems</actionType>
        <connector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_Return_Order_Item_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>returnItemsInput</name>
            <value>
                <elementReference>returnItemsInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnItemsOutputRepresentation</assignToReference>
            <name>returnItemsOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send_Notification</description>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1346</locationX>
        <locationY>1455</locationY>
        <actionName>NotificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_CreditMemo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>event</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reference</name>
            <value>
                <stringValue>RefundComplete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceEntityId</name>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Action_Fault_Message</name>
        <label>Action Fault Message</label>
        <locationX>1863</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ChangeOrderId_collection</name>
        <label>Add to ChangeOrderId collection</label>
        <locationX>1352</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>creareCreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Quantity_To_Return</name>
        <label>Calculate Quantity To Return</label>
        <locationX>1100</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>quantityToReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityToReturn</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Return_Order_Line_Item_Has_Quantity_To_Return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Credit_Memo_Fault_Description</name>
        <label>Fault Description</label>
        <locationX>1616</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Create Credit Memo action failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Items_Input_Representation</name>
        <label>Create Return Items Input Representation</label>
        <locationX>1153</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>returnItemsInputRepresentation.returnOrderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderItemList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnItemsInputRepresentation.returnOrderItemDeliveryCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderItemDeliveryChargeList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Return_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Input_Item</name>
        <label>Create Return Order Input Item</label>
        <locationX>1173</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.returnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.reasonForRejection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.ReasonForRejection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Delivery_Charge</name>
        <label>Create Return Order Item Delivery Charge</label>
        <locationX>267</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemDeliveryCharge.returnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Item_Delivery_Charge_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Delivery_Charge_List</name>
        <label>Create Return Order Item Delivery Charge List</label>
        <locationX>267</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemDeliveryChargeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderItemDeliveryCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_List</name>
        <label>Create Return Order Item List</label>
        <locationX>1098</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isReturnOrderItemListNotEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refund_Assignment</name>
        <label>Ensure Refund Assignment</label>
        <locationX>1344</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refund_Fault_Description</name>
        <label>Fault Description</label>
        <locationX>1628</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Ensure Refunds action failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Description_and_Message</name>
        <label>Fault Description and Message</label>
        <locationX>1170</locationX>
        <locationY>142</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We couldn&apos;t get the return order line items.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Get Records flow element failed to get the return order line items.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Return_Order_Item_Fault_Description</name>
        <label>Fault Description</label>
        <locationX>1607</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Return Return Order Items action failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Any_Return_Order_Line_Items_To_Return</name>
        <label>Are There Any Return Order Line Items To Return</label>
        <locationX>960</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_There_Any_Return_Order_Line_Items_To_Return_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReturnOrderItemListNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Items_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Has_Remaining_Items</name>
        <label>Check Has Remaining Items</label>
        <locationX>2277</locationX>
        <locationY>1711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Remaining_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summaries_Remaining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Summary_Status</targetReference>
            </connector>
            <label>No Remaining Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Return_Order_Line_Item_Has_Quantity_To_Return</name>
        <label>Does Return Order Line Item Has Quantity To Return</label>
        <locationX>1092</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Return_Order_Line_Item_Has_Quantity_To_Return_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantityToReturn</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Input_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Valid_Return_Order_Line_Items</name>
        <label>Filter Valid Return Order Line Items</label>
        <locationX>546</locationX>
        <locationY>1308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Item_Delivery_Charge</targetReference>
            </connector>
            <label>Delivery Charge</label>
        </rules>
        <rules>
            <name>Product_With_Quantity_Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.QuantityExpected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Quantity_To_Return</targetReference>
            </connector>
            <label>Product With Quantity Expected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Viviscal_CA</name>
        <label>Is Not Viviscal CA?</label>
        <locationX>1837</locationX>
        <locationY>1710</locationY>
        <defaultConnector>
            <targetReference>Create_Custom_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Not_Viviscal_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesChannel.SalesChannelName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>viviscal-ca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loyalty_Transaction_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management: RMA Create Credit Memo and Ensure Refunds Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>DebugMsgformula</name>
        <dataType>String</dataType>
        <expression>&apos;Change Order Ids: &apos; &amp; {!creareCreditMemoInputRepresentation.changeOrderIds} &amp; &apos;Credit Memo Id: &apos; &amp;  {!createCreditMemoOutputRepresentation.creditMemoId} &amp; &apos;Excess Fund Amount &apos; &amp; Text({!ensureRefundsAsyncInputRepresentation.excessFundsAmount}) &amp; &apos;Credit Memo Id &apos; &amp; {!ensureRefundsAsyncInputRepresentation.creditMemoId}  &amp; &apos;Error Msg: &apos; &amp; {!errorMessage} &amp; &apos; Error Desc: &apos; &amp; {!errorDescription} &amp; &apos;Qty to return &apos; &amp; Text({!quantityToReturn}) &amp; &apos;Refund Number: &apos; &amp; {!RefundRecord.RefundNumber}</expression>
    </formulas>
    <interviewLabel>RMA Create Credit Memo and Ensure Refunds Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMA Create Credit Memo and Ensure Refunds Flow</label>
    <loops>
        <name>Return_Order_Line_Items</name>
        <label>Return Order Line Items</label>
        <locationX>544</locationX>
        <locationY>618</locationY>
        <collectionReference>Get_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Valid_Return_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_There_Any_Return_Order_Line_Items_To_Return</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_Refund</name>
        <label>Create Custom Refund</label>
        <locationX>2028</locationX>
        <locationY>1709</locationY>
        <connector>
            <targetReference>Get_Order_Item_Summaries_Remaining</targetReference>
        </connector>
        <inputAssignments>
            <field>Reference_ChangeOrder__c</field>
            <value>
                <elementReference>returnItemsOutputRepresentation.changeOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Order_Payment_Summary__c</field>
            <value>
                <elementReference>Get_Order_Payment_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Loyalty Transaction</description>
        <name>Create_Loyalty_Transaction_0</name>
        <label>Create Loyalty Transaction</label>
        <locationX>1931</locationX>
        <locationY>1525</locationY>
        <connector>
            <targetReference>Create_Custom_Refund</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_Credit_Memo_Record.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummary__c</field>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyTransaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Event</name>
        <label>Process Exception Event</label>
        <locationX>1871</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Set_Return_Order_To_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>errorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionType</field>
            <value>
                <stringValue>OM Refund Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessExceptionEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets Credit Memo record</description>
        <name>Get_Credit_Memo_Record</name>
        <label>Get Credit Memo Record</label>
        <locationX>1688</locationX>
        <locationY>1710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Viviscal_CA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries_Remaining</name>
        <label>Get Order Item Summaries Remaining</label>
        <locationX>2148</locationX>
        <locationY>1709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Remaining_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityAvailableToReturn</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>547</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Line_Items</name>
        <label>Get Return Order Line Items</label>
        <locationX>544</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Description_and_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChangeOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emptyString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Return_Order</name>
        <label>Close Return Order</label>
        <locationX>1531</locationX>
        <locationY>1710</locationY>
        <connector>
            <targetReference>Get_Credit_Memo_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Return Order Status to Submitted</description>
        <name>Set_Return_Order_To_Submitted</name>
        <label>Set Return Order To Submitted</label>
        <locationX>2013</locationX>
        <locationY>142</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update CreditMemo</description>
        <name>Update_CreditMemo</name>
        <label>Update CreditMemo</label>
        <locationX>1347</locationX>
        <locationY>1709</locationY>
        <connector>
            <targetReference>Close_Return_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RefundStatus__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>CreditMemo</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Summary_Status</name>
        <label>Update Order Summary Status</label>
        <locationX>2518</locationX>
        <locationY>1707</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <sourceTemplate>runtime_commerce_rma__Create_CO</sourceTemplate>
    <start>
        <locationX>29</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund_Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>LifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>Get_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>creareCreditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DebugMsg</description>
        <name>DebugMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isReturnOrderItemListNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>quantityToReturn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Refund Record</description>
        <name>RefundRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Refund</objectType>
    </variables>
    <variables>
        <name>returnItemsInputRepresentation</name>
        <apexClass>ConnectApi__ReturnItemsInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnItemsOutputRepresentation</name>
        <apexClass>ConnectApi__ReturnItemsOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemDeliveryCharge</name>
        <apexClass>ConnectApi__ReturnOrderItemDeliveryChargeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemDeliveryChargeList</name>
        <apexClass>ConnectApi__ReturnOrderItemDeliveryChargeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderItemIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemInputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemList</name>
        <apexClass>ConnectApi__ReturnOrderItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
