not-used/Flows/Return_Item_Flow_A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createCreditMemoId</name>
        <label>Create Credit Memo</label>
        <locationX>1262</locationX>
        <locationY>550</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>createCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Preview</name>
        <label>Return Order Item Summaries Preview</label>
        <locationX>891</locationX>
        <locationY>255</locationY>
        <actionName>returnOrderItemSummariesPreview</actionName>
        <actionType>returnOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Stage_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>previewReturnOutput</assignToReference>
            <name>previewReturnOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Submit</name>
        <label>Return Order Item Summaries Submit</label>
        <locationX>1151</locationX>
        <locationY>268</locationY>
        <actionName>returnOrderItemSummariesSubmit</actionName>
        <actionType>returnOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Create_Loyalty_Transaction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>submitReturnOutput</assignToReference>
            <name>submitReturnOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1263</locationX>
        <locationY>644</locationY>
        <actionName>NotificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Refund_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>event</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reference</name>
            <value>
                <stringValue>RefundCreated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceEntityId</name>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_ChangeOrderId_collection</name>
        <label>Add to ChangeOrderId collection</label>
        <locationX>1263</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>submitReturnOutput.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCreditMemoId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation</name>
        <label>Change Input Representation</label>
        <locationX>815</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Assignment</name>
        <label>Change Item Assignment</label>
        <locationX>758</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>changeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Assignment_0</name>
        <label>Change Item Assignment</label>
        <locationX>524</locationX>
        <locationY>1182</locationY>
        <assignmentItems>
            <assignToReference>changeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Selected_Bundled_Item_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_List_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Input_Representation_Assignment</name>
        <label>Change Item Input Representation Assignment</label>
        <locationX>684</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_List_Assignment</name>
        <label>Change Item List Assignment</label>
        <locationX>756</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_List_Assignment_0</name>
        <label>Change Item List Assignment</label>
        <locationX>731</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Selected_Bundled_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>882</locationX>
        <locationY>1374</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>415</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_1</name>
        <label>Set stage to part 1</label>
        <locationX>419</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_2</name>
        <label>Set stage to part 2</label>
        <locationX>528</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_3</name>
        <label>Set Stage To Stage 3</label>
        <locationX>1019</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreviewChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_4</name>
        <label>Set Stage To Stage 4</label>
        <locationX>1409</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>67</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>173</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToReturn_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Return</name>
        <label>Are Any Items To Return</label>
        <locationX>415</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_stage_to_part_1</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bundle_Item_Summary</name>
        <label>Is Bundle Item Summary?</label>
        <locationX>515</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Change_Item_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOrderItem.sfcc_SAPMaterialCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Selected_Bundled_Item_Summaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_Item</name>
        <label>Is Child Item?</label>
        <locationX>513</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Not Child Item</defaultConnectorLabel>
        <rules>
            <name>Child_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Selected_Bundled_Item_Summaries.sfcc_BundleProductGUID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectedOrderItem.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Item_Assignment_0</targetReference>
            </connector>
            <label>Child Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValid</label>
        <locationX>67</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <description>Order Management: Return an Item With Bundle products</description>
    <environments>Default</environments>
    <interviewLabel>Return Item Flow A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return an Item</label>
    <loops>
        <name>Change_Item_Assignment_Loop</name>
        <label>Change Item Assignment Loop</label>
        <locationX>537</locationX>
        <locationY>420</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Bundle_Item_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reasons_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Item_Representation_Loop</name>
        <label>Change Item Representation Loop</label>
        <locationX>681</locationX>
        <locationY>253</locationY>
        <assignNextValueToReference>changeItem</assignNextValueToReference>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_Selected_Bundled_Item_Summaries</name>
        <label>Filter Selected Bundled Item Summaries</label>
        <locationX>523</locationX>
        <locationY>855</locationY>
        <collectionReference>Get_Order_Bundled_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Child_Item</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loyalty_Transaction</name>
        <label>Create Loyalty Transaction</label>
        <locationX>1263</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>submitReturnOutput.changeBalances.totalExcessFundsAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummary__c</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyTransaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Bundled_Item_Summaries</name>
        <label>Get Order Bundled Item Summaries</label>
        <locationX>298</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sfcc_BundleProductGUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>282</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Bundled_Item_Summaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>167</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FailureExit</name>
        <label>Failure Exit</label>
        <locationX>222</locationX>
        <locationY>1371</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Refund_Status</name>
        <label>Update Refund Status</label>
        <locationX>1263</locationX>
        <locationY>749</locationY>
        <connector>
            <targetReference>Set_Stage_To_Stage_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RefundStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CreditMemo</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1409</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&apos;re all set! The return succeeded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>91</locationX>
        <locationY>1186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviewChanges</name>
        <label>PreviewChanges</label>
        <locationX>1083</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_Order_Item_Summaries_Submit</targetReference>
        </connector>
        <fields>
            <name>PreviewChangesHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Review your selections. If everything looks good, you&apos;re ready to submit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewOrderChanges</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewReturnOutput</name>
                <value>
                    <elementReference>previewReturnOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>472</locationX>
        <locationY>24</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_stage_to_part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select from these available items to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Order_Item_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductSelctionFooter</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reasons_Selection</name>
        <label>Reasons Selection</label>
        <locationX>675</locationX>
        <locationY>27</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
        <fields>
            <name>ReasonsSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Select the quantity to return and the return reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItemList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_oms__Return_Item</sourceTemplate>
    <stages>
        <name>Stage1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage2</name>
        <isActive>true</isActive>
        <label>Select Quantities and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>35</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Error_Output_Invocable_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can return, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Return</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d return items from an order. To return an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItem</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>previewReturnOutput</name>
        <apexClass>ConnectApi__PreviewReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>submitReturnOutput</name>
        <apexClass>ConnectApi__SubmitReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
